<div>
  <v-app>
    <headermenu />
    <v-content>
      <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
          <v-flex xs12 class="text-sm-left">
            Posted Under: <span v-for="(cat, index) in singleData.categories">{{cat.name}} <span v-if="index+1 !== singleData.categories.length">, </span> </span>
          </v-flex>
          <v-flex xs12 sm6 class="text-sm-left">
            <h1>{{singleData.title}}</h1>
          </v-flex>
          <v-flex xs12 class="text-sm-left title">
            <h4>{{singleData.subTitle}}</h4>
          </v-flex>
          <v-flex xs12 class="text-sm-left title">
            <v-chip>
              <v-avatar>
                <img :src="'https://res.cloudinary.com/blavity/image/upload/c_crop,g_center,w_auto,q_auto:best,g_south_east,x_0/'+singleData.wp_featuredImage" height="30%">
              </v-avatar>
              {{singleData._author.username}}
            </v-chip>
          </v-flex>
          <v-flex xs12 class="text-sm-left">
            <img :src="'https://res.cloudinary.com/blavity/image/upload/c_crop,g_center,w_auto,q_auto:best,g_south_east,x_0/'+singleData.wp_featuredImage" height="100%" width="70%">
          </v-flex>
          <v-flex xs12 class="text-sm-left">
            <p class="headline"><span v-html='singleData.body'></span></p>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</div>
