<div>
  <headermenu/>
  <v-content>
    <v-content style="padding: 0 0 0 0 !important;">
      <v-container fluid>
        <v-layout row>
          <v-flex xs9 pr-4>
            <v-flex xs10 mb-5>
              <v-text-field xs8 text-center v-model="txtsearch"></v-text-field>
              <v-btn @click="search">Search</v-btn>
            </v-flex>
            <v-layout v-for="articleData in info" :key="articleData._id">
              <v-flex xs12 sm8 pl-3 pr-3>
                <router-link class="font-weight-black title text-sm-center black--text linkclass"
                             :to="'/'+articleData.slug"
                >{{articleData.title}}
                </router-link>
                <v-layout>
                  <v-chip>
                    <v-avatar>
                      <img
                        :src="(articleData._author.profileImagePreference === 'gravatar') ? articleData._author.gravatar : (articleData._author.profileImagePreference.search('cloudinary') > 0 ? articleData._author.profileImagePreference : cloudinaryImageUrl+articleData._author.profileImagePreference)">
                    </v-avatar>
                    {{articleData._author.display_name ? articleData._author.display_name :
                    articleData._author.username}}
                  </v-chip>
                </v-layout>
                <router-link class="subheading thin black--text linkclass"
                             :to="'/'+articleData.slug"
                             v-html="articleData.body.substring(0,170)+'...'">
                </router-link>
              </v-flex>
              <v-flex xs12 sm4 pl-3 pr-3 pb-3>
                <v-card>
                  <v-card-media :src="cloudinaryImageUrl+articleData.wp_featuredImage" height="200px"
                  ></v-card-media>
                </v-card>
              </v-flex>
            </v-layout>
            <v-btn block color="info" text-xs-center v-show="loadMoreButton" v-on:click="loadmore(0)">See More Posts
              <b>&nbsp; +</b></v-btn>
            <h1 v-show="info.length == 0" >No Search Found</h1>
          </v-flex>
          <v-flex xs3>
            <dailynewsletter/>
            <trendingpost/>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-content>
</div>
