<div>
  <v-app>
    <vue-headful :title="singlearticle.title"/>
    <headermenu/>
    <v-content class="padding0">
      <v-container fluid ma-5 class="padding0">
        <v-layout row wrap>
          <v-flex xs8>
            <v-flex class="mb-2 mt-2" v-if="(singlearticle.categories)">
            <span class="bold">
              Posted Under:
            </span>
              <v-btn round small outline color="grey" :to="'/categories/'+singlearticle.categories.slug">
                {{singlearticle.categories.name}}
              </v-btn>
              <v-btn outline color="blue" v-if="editarticleflag" :to="'/editpost/'+singlearticle.slug"
                     class="ml-5 rightclass">Edit Article
              </v-btn>
            </v-flex>
            <v-flex class="mb-2 mt-2 article-title">
              <h1>{{singlearticle.title}}</h1>
            </v-flex>
            <v-flex class="mb-2 mt-2 article-sub-title grey--text">
              <h1>{{singlearticle.subTitle}}</h1>
            </v-flex>
            <v-flex class="mb-2 mt-2">
              <v-chip>
                <v-avatar>
                  <img
                    :src="singlearticle.author.avatar"
                    height="30%">
                </v-avatar>
                <router-link class="font-weight-bold subheading black--text textnone"
                             v-if="singlearticle.author.name"
                             :to="'/author/'+singlearticle.author.name">{{singlearticle.author.name}}
                </router-link>
              </v-chip>
              <strong><span>{{singlearticle.createdAt}}</span></strong>
            </v-flex>
            <v-flex class="mb-2 mt-2">
              <iframe :src="singlearticle.source"></iframe>
            </v-flex>
            <v-flex class="mb-2 mt-2 article-body" v-if="singlearticle.content">
              <p class="headline"><span v-html='singlearticle.content'></span></p>
            </v-flex>
            <v-flex v-if="Object.keys(singlearticle.tags).length">
              <hr class="mb-3">
              <span class="font-weight-black mt-3">Tags : </span>
              <span v-for="tag in Object.values(singlearticle.tags)">
              <v-btn round small outline color="grey" class="bold">
                {{tag}}
              </v-btn>
            </span>
            </v-flex>
          </v-flex>
          <v-flex xs3 ma-5>
            <dailynewsletter/>
            <trendingpost/>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
    <footermenu/>
  </v-app>
</div>
